<button
  nz-button
  class="button-add-link mr-2"
  nzType="primary"
  (click)="openModal(null, false,'link')"
>
<i class="fa-solid fa-plus mr-1"></i>
  ADD LINK
</button>
<button
  nz-button
  class="button-add-header"
  nzType="primary"
  (click)="openModal(null, false,'header')"
>
<i class="fa-solid fa-plus mr-1"></i>
  ADD HEADER
</button>
<div *ngFor="let link of listLinks">
  <nz-card nzHoverable class="card-header"  (click)="openModal(link, true,'header')" *ngIf="link.type=='HEADER'">
      {{link.title}}
  </nz-card>
</div>
<div *ngFor="let link of listLinks">
  <nz-card nzHoverable class="links" (click)="openModal(link, true,'link')" *ngIf="link.type=='LINK'">
    <nz-card-meta
      [nzTitle]="link.title"
      [nzDescription]="descriptionTemplate"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
    <ng-template #avatarTemplate>
      <img alt="example" width="50" height="50" [src]="link.picture" />
    </ng-template>
    <ng-template #descriptionTemplate>
      <div>{{link.url}}</div>
      <div><i class="fa-solid fa-eye mr-1"></i>{{link.click_count}}</div>
    </ng-template>
  </nz-card>
</div>
<app-socials [profile]="profile"></app-socials>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  (nzOnCancel)="handleCancel()"
  [nzContent]="nzModalContent"
  [nzFooter]="footer"
>
</nz-modal>
<ng-template #nzModalContent>
  <form nz-form [formGroup]="modalForm">
    <div nz-row *ngIf="type=='link';else tplElse">
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input title!">
              <input
                type="text"
                nz-input
                required="true"
                formControlName="title"
                placeholder="Title"
              />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorCode">
              <input
                type="text"
                nz-input
                required="true"
                formControlName="url"
                placeholder="Url"
              />
          </nz-form-control>
        </nz-form-item>
        <ng-template #errorCode let-control>
          <div
            *ngIf="
            modalForm.controls['url'].invalid &&
              (modalForm.controls['url'].dirty || modalForm.controls['url'].touched)
            "
          > 
            <span *ngIf="modalForm.get('url')?.hasError('urlExist')">Please input url!</span>
          </div>
        </ng-template>
      </div>
      <div nz-col nzSpan="5" nzOffset="1">
        <nz-upload
          class="avatar-uploader"
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!avatarUrl">
            <i
              class="upload-icon"
              nz-icon
              [nzType]="loading ? 'loading' : 'plus'"
            ></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
        </nz-upload>
      </div>
    </div>
    <ng-template #tplElse>
      <div nz-row>
        <nz-form-item nz-col nzSpan="24">
          <nz-form-control nzErrorTip="Please input title!">
              <input
                type="text"
                nz-input
                formControlName="title"
                placeholder="Title"
              />
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-template>
  </form>
</ng-template>
<ng-template #footer>
  <button
    style="float: left"
    *ngIf="mode == 'edit'"
    nz-button
    (click)="onDelete()"
  >
    DELETE
  </button>
  <button nz-button nzType="primary" (click)="handleOk()">SAVE</button>
</ng-template>