.design {
    margin-top: 15px;
    width: 80%;
    height: 100px;
    border-radius: 5px;
  }
  .align-center{
    text-align: center;
  }
  .float-right{
    float: right;
  }
  .mr-1{
    margin-right: 5px;
  }
  .mr-2{
    margin-right: 10px;
  }
  .none-border{
    border:none;
  }
  .sz-20{
    font-size: 20px;
  }