
.card {
  border-radius: 10px;
  margin-top: 20px;
}

.title{
  font-size: 20px;
  font-weight: 600;
  font-family: Inter,sans-serif;
}

.avatar-theme{
  height:200px;
  width: 150px;
  object-fit: cover;
}
.color{
  width: 100px;
  height:40px;
}
.button-default-primary{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.button-default-default{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  cursor: pointer;
}

.button-round-primary{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-round-default{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.font{
  width:180px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  cursor: pointer;
  text-align: center;
  font-size:18px;
}

.label{
  text-align: left;
}

.border{
  width:215px;
  height: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid #0095f6;
  padding: 5px;
}

.button-save {
  height: 35px;
  width: 40%;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(112.44deg, #ff5858 2.09%, #c058ff 75.22%);
  letter-spacing: 2px;
  border: none;
}

.align-center {
  text-align: center;
}
