<nz-card [nzTitle]="titleThemes" [nzHoverable]="true">
  <div nz-row>
    <div *ngFor="let design of listDesign" nz-col nzSpan="7" nzOffset="1">
      <nz-card
        class="card"
        [nzTitle]="design.name"
        [nzHoverable]="true"
        (click)="onClickDesign(design)"
      >
        <img class="avatar-theme" [src]="design.picture" />
      </nz-card>
    </div>
    <div nz-col nzSpan="7" nzOffset="1">
      <nz-card
        *ngIf="role == 'ADMIN' || role == 'USER_VIP'"
        class="card"
        nzTitle="Create"
        [nzHoverable]="true"
        (click)="onCreateDesign()"
      >
        <img
          class="avatar-theme"
          src="https://res.cloudinary.com/anhtuanbui/image/upload/v1658639791/xkppra8sr095o8spjt6f.png"
        />
      </nz-card>
    </div>
  </div>
  <ng-template #titleThemes><div class="title">Themes</div></ng-template>
</nz-card>
<nz-card
  *ngIf="isVisibleDesign"
  style="margin-top: 30px"
  [nzTitle]="titleDesign"
  [nzHoverable]="true"
>
  <form nz-form [formGroup]="designForm">
    <nz-form-item>
      <nz-form-label class="label" [nzSpan]="6">Background color</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          class="color"
          formControlName="background_color"
          type="color"
          (blur)="onUpdateDesign()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="label" [nzSpan]="6">Button Type</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <div *ngFor="let buttonType of buttonTypes; index as i" class="button-type">
          <div [class]="buttonType.type == 'round'&& i==indexButton?'wrap-button-round':''">
          <div [class]="buttonType.type == 'default'&& i==indexButton?'wrap-button-default':''">
            <div
              (click)="onSelectButton(buttonType.value,i)"
              [ngClass]="buttonType.class"
            ></div>
          </div>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="label" [nzSpan]="6">Button color</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          class="color"
          formControlName="button_color"
          type="color"
          (blur)="onUpdateDesign()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="label" [nzSpan]="6">Text color</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input
          nz-input
          class="color"
          formControlName="text_color"
          type="color"
          (blur)="onUpdateDesign()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="label" [nzSpan]="6">Font</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <div nz-row>
          <div *ngFor="let font of fonts;index as i" nz-col nzSpan="10" class="button-font">
            <div [class]="indexFont==i?'wrap-font':''">
              <div
                (click)="onSelectFont(font.name,i)"
                class="font"
                [ngStyle]="{ 'font-family': font.name }"
              >
                {{ font.name }}
              </div>
            </div>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #titleDesign><div class="title">Design</div></ng-template>
</nz-card>
