
.card {
  border-radius: 10px;
  margin-top: 20px;
}

.title{
  font-size: 20px;
  font-weight: 600;
  font-family: Inter,sans-serif;
}

.avatar-theme{
  height:200px;
  width: 150px;
  object-fit: cover;
}
.color{
  width: 100px;
  height:40px;
}
.wrap-button-default{
  width: 210px;
  height:50px;
  border: solid 2px #0095f6;
  margin-top:10px;
  
}

.wrap-button-round{
  width: 210px;
  height:50px;
  border: solid 2px #0095f6;
  border-radius: 25px;
  margin-top:10px;
  
}

.button-default-primary{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: black;
  /* border: none; */
  cursor: pointer;
  margin: auto;
  margin-top:3px;
}

.button-default-default{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  cursor: pointer;
  margin: auto;
  margin-top:3px;
}

.button-round-primary{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  margin-top:3px;
}

.button-round-default{
  width:200px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  margin-top:3px;
}
.wrap-font{
  margin-top:5px;
  border: solid 2px #0095f6;
  height: 50px;
  width: 190px;
}
.font{
  width:180px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid black;
  cursor: pointer;
  text-align: center;
  font-size:18px;
  margin: auto;
  margin-top:3px;
}

.label{
  text-align: left;
}

.border{
  width:215px;
  height: 55px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:2px solid #0095f6;
  padding: 5px;
}

.button-save {
  height: 35px;
  width: 40%;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(112.44deg, #ff5858 2.09%, #c058ff 75.22%);
  letter-spacing: 2px;
  border: none;
}

.align-center {
  text-align: center;
}

.ng-star-inserted{
  /* width: 215px; */
}
