<div class="center demo" style="background-color:{{design.background_color}};color:{{design.text_color}};font-family:{{design.font}};">
    <img class="avatar" [src]="profile.avatar_link" />
    <div class="name">{{profile.fullname}}</div>
    <div class="mb1">
        <div nz-row [nzGutter]="16" class="social">
            <div *ngFor="let social of listSocial">
                <i nz-icon nz-col nzSpan="3" class="gutter-row" [nzType]="social.social_icon" nzTheme="outline"></i>
            </div>
        </div>
    </div>
    <div *ngFor="let link of listLinks">
        <div style="font-weight: bold" *ngIf="link.type=='HEADER'">
        {{link.title}}
        </div>
    </div>
    <div *ngFor="let link of listLinks">
    <div *ngIf="isPrimary;else elsePrimary">
        <button *ngIf="link.type=='LINK'" style="background-color:{{design.button_color}};color:{{design.text_color}};" [nzType]="buttonType" [nzShape]="buttonShape" nz-button class="button-link mt1 title-link" (click)="onClickLink(link)">
            <img alt="example" class="avatar-link"
                [src]="link.picture" />
            {{link.title}}
        </button>
    </div>
    <ng-template #elsePrimary>
        <button *ngIf="link.type=='LINK'" style="background-color:{{design.background_color}}; border:2px solid {{design.button_color}};color:{{design.text_color}};" [nzType]="buttonType" [nzShape]="buttonShape" nz-button class="button-link mt1 title-link" (click)="onClickLink(link)">
            <img alt="example" class="avatar-link"
                [src]="link.picture" />
                {{link.title}}
        </button>
    </ng-template>
</div>    
</div>