
body{
    border-radius: 18px;
}
.avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 30px;
}
.demo{
    height: 100%;
}
.backgrond-img{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    text-align: center;
    align-items: center;
}

.name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.name-demo {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

.social {
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.social-demo {
    font-size: 26px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.avatar-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
}

.avatar-link-demo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.button-link {
    width: 80%;
    height: 40px;
    border:none;
    font-size: 12px;
}
.button-link-demo {
    width: 80%;
    height: 40px;
    border:none;
    font-size: 12px;
}

.social-title{
    font-weight: bold; 
    margin-top: 24px;
    font-size: 14px;
}
.social-title-demo{
    font-weight: bold; 
    margin-top: 24px;
    font-size: 18px;
}

.mt1{
    margin-top: 16px;
}
.mb1{
    margin-top: 24px;
    margin-bottom: 10px;
}
.title-link{
    font-weight: bold;
}
.button-center{
    display: flex;
    justify-content: center;
}

.overflow-y{
    height: 100%; 
    overflow: hidden auto;
}
.overflow-y::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

@media only screen and (min-width: 600px) {
    .button-link-demo {
        width: 50%;
        height: 50px;
        border:none;
        font-size: 16px;
    }

}