<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorPassword">
      <input
        type="password"
        nz-input
        formControlName="newPassword"
        placeholder="New Password"
      />
    </nz-form-control>
  </nz-form-item>
  <ng-template #errorPassword let-control>
    <div
      *ngIf="
        form.controls['newPassword'].invalid &&
        (form.controls['newPassword'].dirty ||
          form.controls['newPassword'].touched)
      "
    >
      <span *ngIf="form.get('newPassword')?.hasError('required')"
        >Please input password!</span
      >
      <span *ngIf="form.get('newPassword')?.hasError('whitespace')"
        >Password must not contain spaces!</span
      >
    </div>
  </ng-template>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorConfirmPassword">
      <input
        (ngModelChange)="checkConfirmPassword()"
        type="password"
        nz-input
        formControlName="confirmPassword"
        placeholder="Confirm password"
      />
    </nz-form-control>
  </nz-form-item>
  <ng-template #errorConfirmPassword let-control>
    <div
      *ngIf="
        form.controls['confirmPassword'].invalid &&
        (form.controls['confirmPassword'].dirty ||
          form.controls['confirmPassword'].touched)
      "
    >
      <span *ngIf="form.get('confirmPassword')?.hasError('required')"
        >Please input password!</span
      >
      <span *ngIf="form.get('confirmPassword')?.hasError('whitespace')"
        >Password must not contain spaces!</span
      >
      <span
        *ngIf="form.get('confirmPassword')?.hasError('confirmPasswordExist')"
        >Password is inconsistent!</span
      >
    </div>
  </ng-template>
  <div class="button-save">
    <button
      [nzLoading]="isLoading"
      nz-button
      nzType="primary"
      (click)="changePassword()"
    >
      CHANGE
    </button>
  </div>
</form>
