<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="nav">
      <div id="nav1">
        <div>
          <img
            src="https://play-lh.googleusercontent.com/pw4ONHmAWhdX2GU2VqwJ1MswAx8uFZJaTSzgO-zmuSe5jBTvghLFWBClj2wVNrUgrw=w240-h480-rw"
            alt="logo"
          />
        </div>
        <div>
          <a (click)="onClickLogout()">Logout</a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="login1">
        <form nz-form [formGroup]="profileForm">
          <div style="text-align: center">
            <nz-upload
              class="avatar-uploader"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              nzName="avatar"
              nzListType="picture-card"
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event)"
            >
              <ng-container *ngIf="!avatarUrl">
                <i
                  class="upload-icon"
                  nz-icon
                  [nzType]="loading ? 'loading' : 'plus'"
                ></i>
                <div class="ant-upload-text">Upload</div>
              </ng-container>
              <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
            </nz-upload>
            <div class="erorr">{{ erorrPictire }}</div>
          </div>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input fullname!">
              <input
                class="cssform"
                type="text"
                nz-input
                formControlName="fullname"
                placeholder="Fullname"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <input
                class="cssform"
                type="text"
                nz-input
                formControlName="location"
                placeholder="Location"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input
                class="cssform"
                type="text"
                nz-input
                formControlName="about"
                placeholder="About"
              />
            </nz-form-control>
          </nz-form-item>
          <div nz-row>
            <nz-form-item nz-col nzSpan="12">
              <nz-form-control>
                <input
                  nz-input
                  type="date"
                  formControlName="birthday"
                  placeholder="Birthday"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="12">
              <nz-form-control>
                <nz-select nzPlaceHolder="Gender" formControlName="gender">
                  <nz-option nzValue="MALE" nzLabel="MALE"></nz-option>
                  <nz-option nzValue="FEMALE" nzLabel="FEMALE"></nz-option>
                  <nz-option nzValue="OTHER" nzLabel="OTHER"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <button
            nz-button
            id="button1"
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            (click)="createProfile()"
            [nzLoading]="isLoading"
          >
            CREATE PROFILE
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
