<nz-card [nzTitle]="title" [nzHoverable]="true" class="card">
  <form nz-form [formGroup]="profileForm">
    <div nz-row>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input fullname!">
            <input
              class="input"
              type="text"
              nz-input
              formControlName="fullname"
              placeholder="Fullname"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="errorUsername">
            <input
              class="input"
              type="text"
              nz-input
              formControlName="short_bio"
              placeholder="Short bio"
              (blur)="checkShortBio()"
            />
          </nz-form-control>
        </nz-form-item>
        <ng-template #errorUsername let-control>
          <div
            *ngIf="
              profileForm.controls['short_bio'].invalid &&
              (profileForm.controls['short_bio'].dirty ||
              profileForm.controls['short_bio'].touched)
            "
          >
            <span *ngIf="profileForm.get('short_bio')?.hasError('required')"
              >Please input short bio!</span
            >
            <span *ngIf="profileForm.get('short_bio')?.hasError('already_exist')"
              >Short bio already exist!</span
            >
          </div>
        </ng-template>
        <nz-form-item>
          <nz-form-control>
            <input
              class="input"
              type="text"
              nz-input
              formControlName="about"
              placeholder="About"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <input
              class="input"
              type="text"
              nz-input
              formControlName="location"
              placeholder="Location"
            />
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
          <nz-form-item nz-col nzSpan="12">
            <nz-form-control>
              <input
                nz-input
                type="date"
                formControlName="birthday"
                placeholder="Birthday"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-col nzSpan="12">
            <nz-form-control>
              <nz-select nzPlaceHolder="Gender" formControlName="gender">
                <nz-option nzValue="MALE" nzLabel="MALE"></nz-option>
                <nz-option nzValue="FEMALE" nzLabel="FEMALE"></nz-option>
                <nz-option nzValue="OTHER" nzLabel="OTHER"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col nzSpan="5" nzOffset="1">
        <nz-upload
          class="avatar-uploader"
          nzAction="http://localhost:8080/api/v1.0/link/upload"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!avatarUrl">
            <i
              class="upload-icon"
              nz-icon
              [nzType]="loading ? 'loading' : 'plus'"
            ></i>
            <div class="ant-upload-text">Upload image</div>
          </ng-container>
          <img class="avatar" *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
        </nz-upload>
      </div>
    </div>
    <div class="align-center">
      <button
        nz-button
        [nzLoading]="isLoading"
        nzType="primary"
        class="button-save"
        (click)="updateProfile()"
      >
        SAVE
      </button>
    </div>
  </form>
  <ng-template #title><div class="title">Profile</div></ng-template>
</nz-card>
<app-themes nzOffset="20" [profile]="profile"></app-themes>
