<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <div class="nav1">
        <div class="nav2">
          <div class="nav3">
            <div id="img">
              <img
                src="https://play-lh.googleusercontent.com/pw4ONHmAWhdX2GU2VqwJ1MswAx8uFZJaTSzgO-zmuSe5jBTvghLFWBClj2wVNrUgrw=w240-h480-rw"
                alt="logo"
              />
            </div>
            <div class="nav4">
              <div class="nav4-1">
                <a  [href]="'http://localhost:4200/demo/'+profile?.short_bio" target="_blank">localhost:4200/demo/{{profile?.short_bio}}</a>
              </div>

            <button nz-button class="button-copy" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuShare">Share</button>

              <img nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="avatar" [src]="profile?.avatar_link" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <nz-layout>
        <nz-content>
          <div nz-row>
            <div class="background-phone" nz-col nzSpan="3"></div>
            <div class="background-phone" nz-col nzSpan="5">
              <nz-affix nzOffsetTop="60">
                <div class="phone">
                    <app-demo *ngIf="profile" [border]="border" [profile]="profile" ></app-demo>
                </div>
              </nz-affix>
            </div>
            <div class="background-phone" nz-col nzSpan="3"></div>
            <nz-tabset [(nzSelectedIndex)]="selectIndex" class="tabs" nz-col nzSpan="13">
              <nz-tab  [nzTitle]="titleLinks">
                <app-links *ngIf="profile" [profile]="profile"></app-links>
              </nz-tab>
              <nz-tab [nzTitle]="titleDesign">
                <app-design *ngIf="profile" [profile]="profile" (sendProfile)="receverProfile($event)"></app-design>
              </nz-tab>
              <nz-tab [nzTitle]="titleStatistic">
                <app-statistic ></app-statistic>
              </nz-tab>
              <nz-tab [nzTitle]="titleSettings">
                <app-settings ></app-settings>
              </nz-tab>
            </nz-tabset>
          </div>
          <ng-template #titleLinks><div class="title">Links</div></ng-template>
          <ng-template #titleDesign><div class="title">Design</div></ng-template>
          <ng-template #titleSettings><div class="title">Settings</div></ng-template>
          <ng-template #titleStatistic><div class="title">Statistic</div></ng-template>


        </nz-content>
      </nz-layout>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzOverlayClassName="drop-down">
          <li nz-menu-item (click)="onClickDashboard()"><i class="fa-solid fa-house icon-fontawesome"></i>Dashboard</li>
          <li *ngIf="user.role=='ADMIN'" nz-menu-item (click)="onClickAdmin()"><i class="fa-solid fa-align-justify icon-fontawesome"></i>Admin page</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onClickLogout()"><i class="fa-solid fa-right-from-bracket icon-fontawesome"></i>Logout</li>
        </ul>
      </nz-dropdown-menu>

      <nz-dropdown-menu #menuShare="nzDropdownMenu">
        <ul nz-menu nzOverlayClassName="drop-down">
          <li nz-menu-item (click)="onClickCopyLink()"><i class="fa-solid fa-copy icon-fontawesome"></i>Copy</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="onClickQrCode()"><div>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
            >
              <path
                d="M3 11H11V3H3V11ZM5 5H9V9H5V5Z"
                fill="url(#paint0_linear_405_4869)"
              ></path>
              <path
                d="M3 21H11V13H3V21ZM5 15H9V19H5V15Z"
                fill="url(#paint1_linear_405_4869)"
              ></path>
              <path
                d="M13 3V11H21V3H13ZM19 9H15V5H19V9Z"
                fill="url(#paint2_linear_405_4869)"
              ></path>
              <path
                d="M21 19H19V21H21V19Z"
                fill="url(#paint3_linear_405_4869)"
              ></path>
              <path
                d="M15 13H13V15H15V13Z"
                fill="url(#paint4_linear_405_4869)"
              ></path>
              <path
                d="M17 15H15V17H17V15Z"
                fill="url(#paint5_linear_405_4869)"
              ></path>
              <path
                d="M15 17H13V19H15V17Z"
                fill="url(#paint6_linear_405_4869)"
              ></path>
              <path
                d="M17 19H15V21H17V19Z"
                fill="url(#paint7_linear_405_4869)"
              ></path>
              <path
                d="M19 17H17V19H19V17Z"
                fill="url(#paint8_linear_405_4869)"
              ></path>
              <path
                d="M19 13H17V15H19V13Z"
                fill="url(#paint9_linear_405_4869)"
              ></path>
              <path
                d="M21 15H19V17H21V15Z"
                fill="url(#paint10_linear_405_4869)"
              ></path>
              <defs>
                <linearGradient
                  id="paint0_linear_405_4869"
                  x1="3.34783"
                  y1="7"
                  x2="8.30993"
                  y2="10.6535"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint1_linear_405_4869"
                  x1="3.34783"
                  y1="17"
                  x2="8.30993"
                  y2="20.6535"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint2_linear_405_4869"
                  x1="13.3478"
                  y1="7"
                  x2="18.3099"
                  y2="10.6535"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint3_linear_405_4869"
                  x1="19.087"
                  y1="20"
                  x2="20.3275"
                  y2="20.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint4_linear_405_4869"
                  x1="13.087"
                  y1="14"
                  x2="14.3275"
                  y2="14.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint5_linear_405_4869"
                  x1="15.087"
                  y1="16"
                  x2="16.3275"
                  y2="16.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint6_linear_405_4869"
                  x1="13.087"
                  y1="18"
                  x2="14.3275"
                  y2="18.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint7_linear_405_4869"
                  x1="15.087"
                  y1="20"
                  x2="16.3275"
                  y2="20.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint8_linear_405_4869"
                  x1="17.087"
                  y1="18"
                  x2="18.3275"
                  y2="18.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint9_linear_405_4869"
                  x1="17.087"
                  y1="14"
                  x2="18.3275"
                  y2="14.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
                <linearGradient
                  id="paint10_linear_405_4869"
                  x1="19.087"
                  y1="16"
                  x2="20.3275"
                  y2="16.9134"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FF5858"></stop>
                  <stop offset="1" stop-color="#C058FF"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>QR Code</li>
        </ul>
      </nz-dropdown-menu>
      <nz-modal [nzWidth]="400" [nzVisible]="isVisible" nzTitle="QR CODE" [nzFooter]="footer" (nzOnCancel)="onCloseModal()">
        <ng-container *nzModalContent>
          <qrcode [qrdata]="dataQr" [width]="256" class="qr-code"></qrcode>
        </ng-container>
      </nz-modal>
      <ng-template #footer>

      </ng-template>
    </div>
  </body>
  
</html>
