.header-background{
    background-color: white;
}

.phone{
    margin-top: 20px;
    width:90%;
    height: 500px;
    border-radius:25px;
    border:6px solid rgb(38, 38, 38);
}

.tabs{
    width:50%;
    float:right;
}
.float-right{
 float:right;
}
.avatar{
    margin-left:20px;
    width: 40px;
    height: 40px;
    border-radius:20px;
}
.drop-down{
    width:100px;
    font-weight: bold;
    text-align: center;
}