<nz-card [nzTitle]="titleTopMonth" [nzHoverable]="true">
    <div *ngFor="let month of topMonth">
        <nz-card
          nzHoverable
          class="statistic"
          (click)="onClickProfile(month.short_bio)"
        >
          <nz-card-meta
            [nzTitle]="month.fullname"
            [nzDescription]="descriptionTemplate"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
          <ng-template #avatarTemplate>
            <img alt="example" width="50" height="50" [src]="month.avatar_link" />
          </ng-template>
          <ng-template #descriptionTemplate>
            <div>localhost:4200/demo/{{ month.short_bio }}</div>
            <div><i class="fa-solid fa-eye mr-1"></i>{{ month.click_count }}</div>
          </ng-template>
        </nz-card>
      </div>
</nz-card>
<ng-template #titleTopMonth><div class="title">Top profile of the month</div></ng-template>
<nz-card class="mt-3" [nzTitle]="titleTopProfile" [nzHoverable]="true">
    <div *ngFor="let profile of topProfile">
        <nz-card
          nzHoverable
          class="statistic"
          (click)="onClickProfile(profile.short_bio)"

        >
          <nz-card-meta
            [nzTitle]="profile.fullname"
            [nzDescription]="descriptionTemplate"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
          <ng-template #avatarTemplate>
            <img alt="example" width="50" height="50" [src]="profile.avatar_link" />
          </ng-template>
          <ng-template #descriptionTemplate>
            <div>localhost:4200/demo/{{ profile.short_bio }}</div>
            <div><i class="fa-solid fa-eye mr-1"></i>{{ profile.click_count }}</div>
          </ng-template>
        </nz-card>
      </div>
      
</nz-card>
<ng-template #titleTopProfile><div class="title">Top profile</div></ng-template>
<div class="mt-3">
  <agm-map [latitude]="location?.latitude" [longitude]="location?.longitude">
    <agm-marker 
    [latitude]="location?.latitude" 
    [longitude]="location?.longitude">    
</agm-marker>
  </agm-map>

</div>
  

