<nz-card [nzTitle]="title" class="card">
  <form nz-form [formGroup]="settingForm">
    <nz-form-item>
      <nz-form-control>
        <input
          class="input"
          type="text"
          nz-input
          formControlName="username"
          placeholder="Username"
          readonly
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          class="input"
          type="text"
          nz-input
          formControlName="mail"
          placeholder="email"
          readonly
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          class="input"
          type="text"
          nz-input
          formControlName="role"
          placeholder="role"
          readonly
        />
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="align-center">
    <button class="button-save" nz-button nzType="primary" (click)="openModal()">
      Change password
    </button>
  </div>
  <ng-template #title><div class="title">Account</div></ng-template>
</nz-card>
<div class="align-center delete">
  <button
    nz-popconfirm
    nzCancelText="Cancel"
    nzOkText="OK"
    nzPopconfirmTitle="Are you sure delete this account?"
    nzPopconfirmPlacement="top"
    (nzOnConfirm)="onDeleteUser()"
    nz-button
    [nzLoading]="isLoadingDelete"
    class="button-delete"
  >
    DELETE ACCOUNT
  </button>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="CHANGE PASSWORD"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzContent]="nzModalContent"
  [nzFooter]="footer"
>
</nz-modal>
<ng-template #nzModalContent>
  <form nz-form [formGroup]="modalForm">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorCode">
        <input
          type="text"
          nz-input
          formControlName="mail"
          placeholder="Your email"
        />
      </nz-form-control>
    </nz-form-item>
    <ng-template #errorCode let-control>
      <div
        *ngIf="
          modalForm.controls['mail'].invalid &&
          (modalForm.controls['mail'].dirty ||
            modalForm.controls['mail'].touched)
        "
      >
        <span *ngIf="modalForm.get('mail')?.hasError('required')"
          >Please input your email!</span
        >
        <span *ngIf="modalForm.get('mail')?.hasError('pattern')"
          >Email invalidate!</span
        >
      </div>
    </ng-template>
  </form>
</ng-template>
<ng-template #footer>
  <button
    [nzLoading]="isLoading"
    nz-button
    nzType="primary"
    (click)="handleOk()"
  >
    SEND
  </button>
</ng-template>
